@import '../../styles/common.scss';

.app-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 90px;
  padding: 10px;
  background-color: $stayHealthy1;
  border-bottom: 1px solid $secondary2;

  .logo-wrapper {
    width: 240px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    img {
      height: 100px;
      margin-left: -50px;
      margin-top: 30px;
      margin-right: -40px;
    }

    .brand {
      font-size: 16px;
      color:$secondary2;
      font-weight: 500;
      letter-spacing: 2px;
      margin-bottom: 10px;
    }
  }

  .navigation {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: row;

    > * {
      margin: 0 10px;
    }
  }

  .right-button-wrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;

    .greetings-text {
      color: #446773;
      font-weight: 500;

      span:not(:first-of-type) {
        margin-left: 3px;
      }
    }

    .profile-pic {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
  }
  }

  
}

.profile-popover {
  .options {
    list-style: none;
    padding: 0;
    margin: 0;

    li:not(.user-details) {
      height: 24px;
      cursor: pointer;
    }

    li:not(.user-details):hover {
      font-weight: 700;
      text-decoration: underline;
    }
  }

  .user-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-bottom: $border;
    padding-bottom: 5px;

    .name {
      font-size: 16px;
      font-weight: 600;
    }
  }
}