.photo-loader {
  display: flex;
  justify-content: center;

  .profile-picture {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }

  label {
    cursor: pointer;
  }

  input[type="file"] {
    display: none;
  }
}