@import '../../../styles/common.scss';

.meal {
  min-width: 320px;
  max-height: 450px;
  overflow-y: auto;
  color: $secondary2;

  .meal-modal-body {
    input,
    textarea {
      border: 1px solid $secondary2;
    }

    .meal-text {
      display: flex;
      flex-direction: column;
    }
  }
}